<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Quartz定时任务 开始 -->
	<bean id="test"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass">
			<value>com.finance.task.TestTask</value>
		</property>
	</bean>
	<bean id="testCronTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="test" />
		</property>
		<property name="startDelay" value="1000" />
		<property name="repeatInterval" value="3600000" />
	</bean>
	
	
	<bean id="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="testCronTrigger" />
			</list>
		</property>
	</bean>
	<!--Quartz定时任务结束 -->

</beans>
