<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.dao.CarMapper">
	<select id="findById" parameterType="int" resultType="Car">
		SELECT *
		FROM car WHERE id=#{id,jdbcType=INTEGER}
	</select>
	<insert id="insert" parameterType="Car" flushCache="true"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		car(plateNumber,vin,engineNumber,displacement,ownerName,onwerTel,gps,tonnage,carLong,carNumber,carNumberDate,insuranceCompany,insuranceDate,creater,createDate,vestInCompany)
		VALUES(#{plateNumber,jdbcType=VARCHAR},#{vin,jdbcType=VARCHAR},#{engineNumber,jdbcType=VARCHAR},#{displacement,jdbcType=DOUBLE},#{ownerName,jdbcType=VARCHAR},#{onwerTel,jdbcType=VARCHAR},#{gps,jdbcType=VARCHAR},#{tonnage,jdbcType=DOUBLE},#{carLong,jdbcType=DOUBLE},#{carNumber,jdbcType=VARCHAR},#{carNumberDate,jdbcType=DATE},#{insuranceCompany,jdbcType=VARCHAR},#{insuranceDate,jdbcType=DATE},#{creater,jdbcType=VARCHAR},#{createDate,jdbcType=DATE},#{vestInCompany})
	</insert>
	<update id="update" parameterType="Car">
		UPDATE car SET
		plateNumber=#{plateNumber,jdbcType=VARCHAR},vin=#{vin,jdbcType=VARCHAR},engineNumber=#{engineNumber,jdbcType=VARCHAR},displacement=#{displacement,jdbcType=DOUBLE},ownerName=#{ownerName,jdbcType=VARCHAR},onwerTel=#{onwerTel,jdbcType=VARCHAR},gps=#{gps,jdbcType=VARCHAR},tonnage=#{tonnage,jdbcType=DOUBLE},carLong=#{carLong,jdbcType=DOUBLE},carNumber=#{carNumber,jdbcType=VARCHAR},carNumberDate=#{carNumberDate,jdbcType=DATE},insuranceCompany=#{insuranceCompany,jdbcType=VARCHAR},insuranceDate=#{insuranceDate,jdbcType=DATE},creater=#{creater,jdbcType=VARCHAR},createDate=#{createDate,jdbcType=DATE},vestInCompany=#{vestInCompany}
		WHERE id=#{id,jdbcType=INTEGER}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM car
		WHERE id=#{id,jdbcType=INTEGER}
	</delete>
	<select id="findAll" resultType="Car">
		SELECT * FROM car
	</select>
	<select id="findAllMap" resultType="ServiceLogistics">
		SELECT * FROM car
	</select>
	<select id="searchByPage" resultType="Car">
		SELECT * FROM car
		<where>
			<if test="l.plateNumber != null and l.plateNumber!=''">
				`plateNumber` like
				CONCAT('%',#{l.plateNumber,jdbcType=VARCHAR},'%')
			</if>
			<if test="l.ownerName != null and l.ownerName!=''">
				and `ownerName` like
				CONCAT('%',#{l.ownerName,jdbcType=VARCHAR},'%')
			</if>
			<if test="l.displacement != null and l.displacement!=0.0">
				`displacement` =#{l.displacement}
			</if>
			<if test="l.onwerTel != null and l.onwerTel!=''">
				and `onwerTel` like
				CONCAT('%',#{l.onwerTel},'%')
			</if>
			<if test="l.vestInCompany != null and l.vestInCompany!=''">
				`vestInCompany` like
				CONCAT('%',#{l.vestInCompany},'%')
			</if>
			<if test="l.gps != null and l.gps!=''">
				and `gps` =#{l.gps}
			</if>
			<if test="m.carNumberDate1 != null and m.carNumberDate2!=null">
				and `carNumberDate` &gt;= #{m.carNumberDate1} and `carNumberDate` &lt;= #{m.carNumberDate2}
			</if>
		</where>
		limit #{pageUtil.begin},#{pageUtil.end}
	</select>
	<select id="getCount1" resultType="Long">
		SELECT COUNT(*) FROM `car`
		<where>
			<if test="l.plateNumber != null and l.plateNumber!=''">
				`plateNumber` like
				CONCAT('%',#{l.plateNumber,jdbcType=VARCHAR},'%')
			</if>
			<if test="l.ownerName != null and l.ownerName!=''">
				and `ownerName` like
				CONCAT('%',#{l.ownerName,jdbcType=VARCHAR},'%')
			</if>
			<if test="l.displacement != null and l.displacement!=0.0">
				`displacement` =#{l.displacement}
			</if>
			<if test="l.onwerTel != null and l.onwerTel!=''">
				and `onwerTel` like
				CONCAT('%',#{l.onwerTel},'%')
			</if>
			<if test="l.vestInCompany != null and l.vestInCompany!=''">
				`vestInCompany` like
				CONCAT('%',#{l.vestInCompany},'%')
			</if>
			<if test="l.gps != null and l.gps!=''">
				and `gps` =#{l.gps}
			</if>
			<if test="m.carNumberDate1 != null and m.carNumberDate2!=null">
				and `carNumberDate` &gt;= #{m.carNumberDate1} and `carNumberDate` &lt;= #{m.carNumberDate2}
			</if>
		</where>
	</select>
	<insert id="batchInsert" parameterType="java.util.List">  
	    insert into car (plateNumber,vin,engineNumber,displacement,ownerName,onwerTel,gps,tonnage,carLong,carNumber,carNumberDate,insuranceCompany,insuranceDate,creater,createDate,vestInCompany) values  
	    <foreach collection="list" item="item" index="index"  
	        separator=",">  
	        ( #{item.item0}, #{item.item1}, #{item.item2}, #{item.item3}, #{item.item4}, #{item.item5}, #{item.item6}, #{item.item7}, #{item.item8}, #{item.item9}, #{item.item10}, #{item.item11}, #{item.item12}, #{item.item13}, #{item.item14}, #{item.item15})  
	    </foreach>
  </insert> 
  
  <select id="searchDownload" resultType="java.util.Map">
		SELECT * FROM car
		<where>
			<if test="plateNumber != null and plateNumber!=''">
				`plateNumber` like
				CONCAT('%',#{plateNumber,jdbcType=VARCHAR},'%')
			</if>
			<if test="ownerName != null and ownerName!=''">
				and `ownerName` like
				CONCAT('%',#{ownerName,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>
	
	
	<select id="getCountOverTime" resultType="Long">
		<if test='currUserName == "system"'>
			SELECT COUNT(*) FROM `car` where to_days(insuranceDate) - to_days( now() )  &lt; 0 
		</if>
		<if test="currUserName != 'system'">
			SELECT COUNT(*) FROM `car` where to_days(insuranceDate) - to_days( now() )  &lt; 0  and vestInCompany = (select vestInCompany from users where name = #{currUserName})
		</if>
		
	</select>
	<select id="getCountOverTimePre" resultType="Long">
		<if test="currUserName == 'system'">
			SELECT COUNT(*) FROM `car` where to_days(insuranceDate) - to_days( now() )  &lt;= 10 and  to_days( insuranceDate ) - to_days(now())  &gt;= 0 
		</if>
		<if test="currUserName != 'system'">
			SELECT COUNT(*) FROM `car` where to_days(insuranceDate) - to_days( now() )  &lt;= 10 and  to_days( insuranceDate ) - to_days(now())  &gt;= 0 and vestInCompany = (select vestInCompany from users where name = #{currUserName})
		</if>
	</select>
	
	
	
	
	
	
	<select id="searchByPageRemind" resultType="Car">
		<if test='m.type == 0'>
			SELECT * FROM `car` where to_days(insuranceDate) - to_days( now() )  &lt; 0 
		</if>
		<if test="m.type == 1">
			SELECT * FROM `car` where to_days(insuranceDate) - to_days( now() )  &lt;= 10 and  to_days( insuranceDate ) -  to_days(now())  &gt;= 0 
		</if>
		<if test="m.plateNumber != null and m.plateNumber!=''">
				 and `plateNumber` like
				CONCAT('%',#{m.plateNumber,jdbcType=VARCHAR},'%')
			</if>
		limit ${pageUtil.begin},${pageUtil.end}
	</select>
	<select id="getCountRemind" resultType="Long">
		<if test='m.type == 0'>
			SELECT COUNT(*) FROM `car` where to_days(insuranceDate) - to_days( now() )  &lt; 0 
		</if>
		<if test="m.type == 1">
			SELECT * FROM `car` where to_days(insuranceDate) - to_days( now() )  &lt;= 10 and  to_days( insuranceDate ) -  to_days(now())  &gt;= 0 
		</if>
		<if test="m.plateNumber != null and m.plateNumber!=''">
				 and `plateNumber` like
				CONCAT('%',#{m.plateNumber,jdbcType=VARCHAR},'%')
			</if>
	</select>
</mapper>
