<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.dao.NoticeMapper">
	<select id="findById" parameterType="int" resultType="Notice">
		SELECT *
		FROM notice WHERE id=#{id,jdbcType=INTEGER}
	</select>
	<insert id="insert" parameterType="Notice" flushCache="true"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		notice(title,content,createBy,createDate,vestInCompany,myid)
		VALUES(#{title},#{content},#{createBy},#{createDate},#{vestInCompany},#{myid})
	</insert>
	<update id="update" parameterType="Notice">
		UPDATE notice SET
		title=#{title},content=#{content},createBy=#{createBy},createDate=#{createDate},vestInCompany=#{vestInCompany}
		WHERE id=#{id,jdbcType=INTEGER}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM notice
		WHERE id=#{id,jdbcType=INTEGER}
	</delete>
	<select id="findAll" resultType="Notice">
		SELECT * FROM notice
	</select>
	<select id="searchByPage" resultType="Notice">
		SELECT * FROM notice
		<where>
			<if test="l.title != null and l.title!=''">
				`title` like
				CONCAT('%',#{l.title},'%')
			</if>
			<if test="l.vestInCompany != null and l.vestInCompany!=''">
				and `vestInCompany` like
				CONCAT('%',#{l.vestInCompany},'%')
			</if>
		</where>
		limit #{pageUtil.begin},#{pageUtil.end}
	</select>
	<select id="getCount" resultType="long">
		SELECT COUNT(*) FROM `notice`
		<where>
			<if test="title != null and title!=''">
				`title` like
				CONCAT('%',#{title},'%')
			</if>
			<if test="vestInCompany != null and vestInCompany=''">
				and `vestInCompany` like
				CONCAT('%',#{vestInCompany},'%')
			</if>
		</where>
	</select>
	
	
	<select id="searchByPageNews" resultType="java.util.Map" >
		SELECT * FROM notice  where myid = 'A'
		
		limit #{start},#{limit}
	</select>
	
	<select id="getCountNews" resultType="long">
		SELECT count(*) FROM notice  where myid = 'A'
	</select>
	
	<select id="detail" resultType="java.util.Map">
		SELECT * FROM `notice` where id = #{id}
	</select>
</mapper>
